#index{
    background-color: #ff6700;
    border-radius: 0px;
    border: 0px;
}
a{
    color: #0f0f0f;
}
h2{
    margin: 70px 0 30px 0;
}
.dibu{
    margin-top: 20px;
}
.dibu span{
    padding: 0 10px;
}
.dibu p a{
    color: #757575;
    text-decoration: none;
}
.dibu p{
    color: #757575;
}
#yonghuxieyi{
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
#yinsizhengce{
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
#submit{
    background-color: #ff6700;
    height: 42px;
    color: white;
    margin-top: 20px;
}
#p1,#p2,#p3{
    color: #737373;
    font-weight: bold;
}